{% extends 'base.html' %}

{% block content %}
<h2>Регистрация</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
            <div class="alert alert-danger">{{ form.username.errors }}</div>
        {% endif %}
        <small class="form-text text-muted">Это поле будет использоваться как ваш логин.</small>
    </div>
    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.errors %}
            <div class="alert alert-danger">{{ form.email.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% if form.password1.errors %}
            <div class="alert alert-danger">{{ form.password1.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.password2.errors %}
            <div class="alert alert-danger">{{ form.password2.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ profile_form.phone.label_tag }}
        {{ profile_form.phone }}
    </div>
    <div class="mb-3">
        {{ profile_form.address.label_tag }}
        {{ profile_form.address }}
    </div>
    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
</form>
{% endblock %}